<div class="container">

    <form id="signup">

        <div class="header">
        
            <h3>Iniciar sesión</h3>
            
            <p></p>
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">
        
            <input type="user" placeholder="Usuario" autofocus />
        
            <input type="password" placeholder="Contraseña" />
            
            <div class="checkboxy">
                <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">Recordar sesión</label>
            </div>
            
            <a id="submit" href="#">SIGN UP FOR INVITE NOW</a>
        
        </div>

    </form>

</div>
​