<form novalidate="" ng-reflect-form="[object Object]" class="ng-pristine ng-invalid ng-touched">
  <div class="form-group">
    <label>Nombre:</label><input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="name" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="name">
  </div>
  <div class="form-group">
    <label>Apellidos:</label><input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="surname" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="surname">
  </div>
  <div class="form-group">
      <label>Teléfono:</label><input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="phone" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="phone">
    </div>
  <div class="form-group">
    <label>Email:</label><input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="email" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="email">
  </div>
  <div class="form-group"><label>Dirección</label><input class="form-control ng-untouched ng-pristine ng-invalid" formcontrolname="street" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="street">
  </div>
  <div class="form-group"><label for="postre">Sede</label><select class="form-control ng-pristine ng-invalid ng-touched" formcontrolname="postre" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="postre"><option value="" ng-reflect-value="">Seleccionar</option><option value="Crema Volteada" ng-reflect-value="Crema Volteada">Crema Volteada</option><option value="Gelatina de Fresa" ng-reflect-value="Gelatina de Fresa">Gelatina de Fresa</option><option value="Keke de Naranja" ng-reflect-value="Keke de Naranja">Keke de Naranja</option><option value="Pie de Manzana" ng-reflect-value="Pie de Manzana">Pie de Manzana</option><option value="Torta de Chocolate" ng-reflect-value="Torta de Chocolate">Torta de Chocolate</option></select>
  </div>
  <div class="form-group">
    <label for="mensaje">Mensaje</label><textarea class="form-control ng-pristine ng-invalid ng-touched" formcontrolname="mensaje" rows="3" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="mensaje"></textarea>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Aceptar</button>
  </div>
</form>